table {
    width: 100%;
    border: 1px solid black;
    border-collapse: separate;
    border-spacing: 10px;
    vertical-align: middle;
}

td {
    border: 1px solid black;
    padding: 20px;
    background-color: red;
    text-align: center;

}

th {
    border: 1px solid black;
    padding: 20px;
    background-color: blue;
}